@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8e8ee;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.header,
.footer {
  height: 13vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Header Styling */
.app-title,
.search-book-title {
  color: #3aa6b9;
}

.home-btn {
  text-decoration: none;
}

.app-title {
  font-family: "Abril Fatface", cursive;
  font-size: 37px;
  letter-spacing: 3px;
}

.search-book-title {
  font-size: 14px;
}

.search-bar-book,
.search-btn-book {
  padding: 0.2rem 0.5rem;
  font-size: 12px;
  border-radius: 1rem;
  outline: none;
  margin-top: 1px;
}

.search-bar-book {
  width: 170px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.06) 2px 3px 13px 2px inset;
  margin-right: 1rem;
}

.search-btn-book {
  border: 3px solid #ff9eaa;
  background-color: #ff2171;
  color: #f9f5f6;
  cursor: pointer;
}

/* Body Styling */

.body-page {
  height: 74vh;
  overflow-y: scroll;
}

.container {
  width: 75%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  box-sizing: border-box;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: 3px solid #c1ece4;
  border-bottom: 3px solid #c1ece4;
  box-shadow: #ffe4a7 3px 3px 0;
  padding: 0.9rem;
  text-align: center;
}

.card img {
  width: 100%;
  height: 250px;
  margin-bottom: 0.3rem;
}

.title,
.cost {
  font-size: 12px;
}

.title {
  color: #ff9eaa;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

/* Book Details Styling */
.overlay,
.overlay-inner,
.inner-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.overlay-inner {
  position: relative;
  flex-direction: column;
  width: 500px;
  height: 550px;
  padding: 1.5rem;
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 13px;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 1rem;
  background-color: #ff2171;
  color: #f9f5f6;
  border: 3px solid #3aa6b9;
  padding: 0 8px;
  font-size: 1rem;
  cursor: pointer;
}

.overlay-inner .inner-box img {
  margin-right: 30px;
  width: 150px;
  height: 200px;
}

.title-detail {
  color: #ff9eaa;
  font-weight: 700;
}

.author-detail {
  margin: 30px 0 10px 0;
}

.book-preview-btn {
  border: 3px solid #ff9eaa;
  box-shadow: #ffe4a7 3px 3px 0;
  width: 100px;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

.description {
  margin-top: 2rem;
  text-align: justify;
  font: 13px;
}

/* Footer Styling */
.copyright,
.github-link {
  color: #3aa6b9;
  font-size: 12px;
}

.github-link a {
  text-decoration: none;
}
