* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header,
.footer {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.body-page {
  height: 80vh;
  overflow-y: scroll;
}
